
        h1 {
            color: red;
        }

        .herba {
            color: #55b67c;
        }

        #titol-blau{
            color: blue;
        }

        p {
            color: blue;
        }

        h1 + p {
            background-color: aqua;
        }

        div.caixa {
            border: 1px solid blue;
            border-radius: 10px;
            padding: 20px;
        }

        body {
            padding: 50px;
        }

        div.x div {
            background-color: red;
            border-radius: 50px;
            height: 50px;
            width: 50px;
            margin: 10px;
            display: inline-block;
            text-align: center;
            font-size: 35px;
            color: white;
            font-weight: bold;
            line-height: 50px;
        }

        div.x div:nth-child(3) {
            background-color: blue;
        }

        a {
            color: red;
        }


        blockquote {
            border: 1px solid blueviolet;
        }


        img.moto {
            width: 400px;
        }

        .marc {
            border: 1px solid blue;
            padding: 50px 10px;
            margin: 10px;
            background-color: aqua;
        }

        

        .linia {
            display: inline-block;
        }

        .destaca {
            color: red;
            font-size: 1.5em;
        }

        .oculta {
            visibility: hidden;
        }

        .oculta2 {
            display: none;
        }

        .bola {
            border-radius: 1000px;
        }

        .vermell {
            color: red;
            font-size: 200px;
        }

        body {
            padding: 50px;
        }

        .centrat {
            text-align: right;
            border: 1px solid blue;
        }


        .prova {
            border: 1px solid blue;
            font-size: 30px;
            height: 100px;
            text-align: center;
            line-height: 100px;
        }


        .contenidor {
            border: 1px solid blue;
            position: relative;
            display: inline-block;
            
        }

        .ocell {
            position: absolute;
            top: 100px;
            right: 50%;
            color: red;
            z-index: 2;
        }

        .ocell:hover {
            color: green;
            cursor: pointer;
        }

        .ocell2 {
            position: fixed;
            top: 10px;
            right: 40px;
            color: green;
            z-index: 2;
        }

        .gat {
          
            z-index: 10;
        }

        .amunt {
            position: relative;
        }


        table.taula td {
            border: 1px solid blue;
            padding: 5px;
        }

        table.taula th {
            background-color: blue;
            color: white;
        }

     
        a.especial:link, a.especial:active,a.especial:visited {
            color: gray;
            text-decoration: none;
        }

        a.especial:hover {
            text-decoration: underline;
        }

        .eur::after{
            content: " €";
            text-align: right;
        }
        .eur::before{
            content: "PVP:";

        }

        ::selection {
            color: red;
        }


        div.cont1 > p, div.cont2 > p {
            color: red;
        }

        img + p {
            background-color: yellow;
        }


        a[href$="e.com"] {
            background-color: yellow;
        }


        div.fons{
            width: 400px;
            height: 400px;
            border: 1px solid blue;
        }
