@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@100;400;900&display=swap');

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}


.especial {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}


strong {
    font-weight: 400;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}



figure.portada  {
    border: 1px dashed blue;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
    background-color: white;
}

figure.portada img  {
    width: 250px;
    border-radius: 10px;
}


